table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #a4bb9a;
    font-weight: bold;
    color: #b65b5b;
}

tr.istirahat {
    background-color: #ff0000;
    font-style: italic;
}


.senin {
    background-color: lightblue;
}
.selasa {
    background-color: lightgreen;
}
.rabu {
    background-color: lightpink;
}