/* Reset some basic styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Header styles */
.header {
    background-color: #4d4d4d;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.header h1 {
    margin-bottom: 10px;
}

/* Navigation styles */
nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #575757;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #c9d7f29e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}


.container {
    display: flex;
    margin: 20px;
}


.column {
    padding: 20px;
}

.side {
    flex: 1;
    background-color: #f9f9f9;
    margin-right: 20px;
}


.middle {
    flex: 2;
    background-color: white;
}


.footer {
    text-align: center;
    padding: 15px 0;
    background-color: #595959;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}


.header {
    background-color: #4e4e4e; 
    color: white;
    text-align: center;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000; /
}

nav {
    background-color: #333; 
    position: sticky; 
    top: 0; 
    z-index: 1000; 
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #575757;
}


